.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 128px 128px 64px 128px;
  gap: 64px;
}

.footer-text {
  max-width: 600px;
}


.footer-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}